<form class="dropdown-item p-0 m-0" method="post" action="{{ path('app_question_response_delete', {'id': response.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ response.id) }}">
    <button class="btn w-100">Supprimer</button>
</form>
